node_modules/*
dist/**/*
yarn.lock


.env 
.env.production
deskotp.ini
deliverables/*
package-lock.json
coverage
prisma/migrations/*



/public/imgs/tweet/**.png
/public/imgs/message/**.png
/public/imgs/user/**.png

/public/imgs/tweet/**.jpeg
/public/imgs/message/**.jpeg
/public/imgs/user/**.jpeg

Jenkinsfile
